################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeleniumCSharp/.vs/SeleniumCSharp/FileContentIndex
